body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #0f4404;
  font-family: sans-serif;
}

.tabble {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hand {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.field {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.trump-cards {
  position: absolute;
  top: 80px;
  left: 350px;
  display: flex;
  justify-content: flex-end;
  width: 144px;
  height: 144px;
}

.card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80px;
  height: 124px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.trump-card {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
  transform: rotate(90deg);
}

.back-of-card {
  width: 100px;
  height: 144px;
  padding: 0;
}

.sumbols {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
  height: 50%;
  transform-origin: bottom;
  font-size: 24px;
  line-height: 20px;
}

.sumbols:last-child {
  transform: rotate(180deg);
}

.value {
  width: 20px;
  text-align: center;
}

img {
  width: 20px;
  height: 20px;
}